<div class="container">
  <nav class="main-nav bg-darkBlue-2">
    <ul class="main-nav_bar">
      <li class="nav_bar_choose_block">
        <a href="./index.html">
          <span class="nav-icon_block">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="#F1F0FB">
              <path d="M17 21H7C4.79086 21 3 19.2091 3 17V10.7076C3 9.30887 3.73061 8.01175 4.92679 7.28679L9.92679 4.25649C11.2011 3.48421 12.7989 3.48421 14.0732 4.25649L19.0732 7.28679C20.2694 8.01175 21 9.30887 21 10.7076V17C21 19.2091 19.2091 21 17 21Z" stroke="#F1F0FB" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9 17H15" stroke="#6A97E8" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          <span class="nav-text_block">
            首頁
          </span>
        </a>
      </li>
      <li class="nav_bar_choose">
        <a href="./index.html">
          <span class="nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="24" viewBox="0 0 24 24" width="24">
              <g stroke="#F1F0FB" stroke-width="1.5">
                <path d="m22 9v8c0 2.7614-2.2386 5-5 5h-10c-2.76142 0-5-2.2386-5-5v-10c0-2.76142 2.23858-5 5-5h9" stroke-linecap="round"/>
                <circle r="2" transform="matrix(-1 0 0 1 21 4)"/>
                <path d="m7 14.75 3.5-4 3 2.5 3.5-4" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </span>
          <span class="nav-text">
            睡眠報告
          </span>
        </a>
      </li>
      <li class="nav_bar_choose">
        <a href="./index.html">
          <span class="nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path stroke="#F1F0FB" fill="#F1F0FB" d="m14 11h-1v-1a1 1 0 0 0 -2 0v1h-1a1 1 0 0 0 0 2h1v1a1 1 0 0 0 2 0v-1h1a1 1 0 0 0 0-2zm6.16-6a6.29 6.29 0 0 0 -8.16-.59 6.27 6.27 0 0 0 -8.16 9.48l6 6.05a3 3 0 0 0 4.24 0l6-6.05a6.27 6.27 0 0 0 .08-8.89zm-1.41 7.46-6 6a1 1 0 0 1 -1.42 0l-6-6a4.29 4.29 0 0 1 0-6 4.27 4.27 0 0 1 6 0 1 1 0 0 0 1.42 0 4.27 4.27 0 0 1 6 0 4.29 4.29 0 0 1 0 6.02z"/>
            </svg>
          </span>
          <span class="nav-text">
            睡眠保健室
          </span>
        </a>
      </li>
      <li class="nav_bar_choose">
        <a href="./index.html">
          <span class="nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="24" viewBox="0 0 24 24" width="24"><g stroke="#F1F0FB" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m12.1601 10.87c-.1-.01-.22-.01-.33 0-2.38004-.08-4.27004-2.03-4.27004-4.43 0-2.45 1.98-4.44 4.44004-4.44 2.45 0 4.44 1.99 4.44 4.44-.01 2.4-1.9 4.35-4.28 4.43z"/><path d="m7.15997 14.56c-2.42 1.62-2.42 4.26 0 5.87 2.75 1.84 7.26003 1.84 10.01003 0 2.42-1.62 2.42-4.26 0-5.87-2.74-1.83-7.25003-1.83-10.01003 0z"/></g></svg>
          </span>
          <span class="nav-text">
            我的頁面
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>