<button data-id="play-btn" type="button" class="btn btn-white p-2.5 rounded-circle border-0">
  <svg class="d-none" data-id="icon-stop" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 41 40"
    fill="none">
    <path
      d="M27.1667 31.6654C26.25 31.6654 25.4653 31.339 24.8125 30.6862C24.1597 30.0334 23.8333 29.2487 23.8333 28.332V11.6654C23.8333 10.7487 24.1597 9.96398 24.8125 9.3112C25.4653 8.65842 26.25 8.33203 27.1667 8.33203C28.0833 8.33203 28.8681 8.65842 29.5208 9.3112C30.1736 9.96398 30.5 10.7487 30.5 11.6654V28.332C30.5 29.2487 30.1736 30.0334 29.5208 30.6862C28.8681 31.339 28.0833 31.6654 27.1667 31.6654ZM13.8333 31.6654C12.9167 31.6654 12.1319 31.339 11.4792 30.6862C10.8264 30.0334 10.5 29.2487 10.5 28.332V11.6654C10.5 10.7487 10.8264 9.96398 11.4792 9.3112C12.1319 8.65842 12.9167 8.33203 13.8333 8.33203C14.75 8.33203 15.5347 8.65842 16.1875 9.3112C16.8403 9.96398 17.1667 10.7487 17.1667 11.6654V28.332C17.1667 29.2487 16.8403 30.0334 16.1875 30.6862C15.5347 31.339 14.75 31.6654 13.8333 31.6654Z"
      fill="#1D1A3E" />
  </svg>
  <svg class="block" data-id="icon-play" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 48 48"
    fill="none">
    <path d="M15 24V11.8756L25.5 17.9378L36 24L25.5 30.0622L15 36.1244V24Z" fill="#1D1A3E" stroke="#1D1A3Ef"
      stroke-width="3" stroke-linejoin="bevel" />
  </svg>
</button>