.btn-secondaryBtn {
  border-radius: 48.51px;
  background: linear-gradient(
    90.82deg,
    rgba(255, 255, 255, 0) -12.49%,
    rgba(52, 69, 119, 0.63) 113%
  );
  box-shadow: 0px 0px 11.41px 4.28px #ffffff66 inset;
}
