.main-nav {
  border-radius: 64px;
  padding-top: 11px;
  padding-bottom: 7px;
  padding-bottom: 7px;
  padding-top: 11px;
  padding-left: -12px;
  padding-right: -12px;
  .main-nav_bar {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav_bar_choose {
    position: relative;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: relative;
    }
    .nav-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $secondary-light;
    }
    .nav-text {
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      color: $secondary-light;
      margin-top: 8px;
    }
  }
  .nav_bar_choose_block {
    position: relative;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-content: space-between;
      width: 100%;
    }
    .nav-icon_block {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $secondary-light;
      position: absolute;
      top: -30px;
      border-radius: 50%;
      background: linear-Gradient(180deg, rgba(191, 214, 255, 1), rgba(82, 118, 181, 1));
      border: 1px solid rgba(255, 255, 255, 0.2);
      outline: 4px solid $darkBlue-1;
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.4);
      padding: 10px;
    }
    .nav-text_block {
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      color: $white;
      margin-top: 20px;
    }
  }
}