.form-control {
  border: 1px solid rgba(142, 140, 158, 1);
  border-radius: 16px;
  padding: 14px 16px;
  &::-ms-reveal {
    filter: invert(100%);
  }
  &,
  &:focus {
    color: $white;
    background-color: rgba(255, 255, 255, 0.05);
  }
}
