@keyframes index-anim {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.index {
  &__bg {
    min-height: 100dvh;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: block;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
          360deg,
          #1d1a3e 5.17%,
          rgba(29, 26, 62, 0.73) 12.88%,
          rgba(29, 26, 62, 0.407793) 22.54%,
          rgba(29, 26, 62, 0) 32.2%
        ),
        url('/assets/images/index_bg.png');
      pointer-events: none;
      opacity: 50%;
      background-repeat: no-repeat;
      background-position: 78% 50%;
      background-size: cover;
    }
  }
  &__anim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: auto;
    aspect-ratio: 1 / 1;

    &-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-15deg);
      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
      text-align: center;
      & > * {
        white-space: nowrap;
      }
      &-bg {
        mix-blend-mode: overlay;
        position: relative;
        z-index: 3;
        width: 127.1px;
        height: 127.1px;
        border-radius: 48.51px;
        transform: rotate(15deg);
        background-image: linear-gradient(
          91deg,
          rgba(255, 255, 255, 0) -12.49%,
          rgba(52, 69, 119, 0.9) 113%
        );
        box-shadow: 0px 0px 11.413px 4.28px rgba(255, 255, 255, 0.4) inset;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 154.26px;
      height: 154.26px;
      border-radius: 48.51px;
      opacity: 0.7;
      background: linear-gradient(
        89.65deg,
        rgba(255, 255, 255, 0.2) 1.06%,
        rgba(255, 255, 255, 0.5) 102.68%
      );
      transform: translate(-50%, -50%) rotate(-135deg);
      z-index: 2;
      animation-name: index-anim;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 148.31px;
      height: 148.31px;
      border-radius: 48.51px;
      opacity: 0.7;
      transform: translate(-50%, -50%) rotate(90deg);
      background: linear-gradient(
        183.65deg,
        rgba(255, 255, 255, 0.3) 3.08%,
        rgba(255, 255, 255, 0.2) 97.47%
      );
      z-index: 1;
      animation-name: index-anim;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-direction: reverse;
    }
  }
}
