@keyframes loginAnim {
  from {
    opacity: 1;
    pointer-events: auto;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
.login {
  &__anim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    animation-duration: 0.7s;
    animation-name: loginAnim;
    animation-fill-mode: forwards;
    z-index: 2;
    animation-delay: 3s;
    background-color: $darkBlue-1;
  }
  &__other-login {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: rgba(142, 140, 158, 1);
    &::after,
    &::before {
      content: '';
      flex: 1 1 auto;
      height: 1px;
      background-color: rgba(142, 140, 158, 1);
    }
  }
  &__media-login {
    border: 1px solid rgba(142, 140, 158, 1);
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    border-radius: 16px;
  }
}
