.bg-health {
  width: 375px;
  height: 204px;
  background: url('/assets/images/bg-health.png');
  background-color: linear-gradient(
      to bottom,
      #1d1a3e 100%,
      rgba(29, 26, 62, 1) 73%,
      rgba(29, 26, 62, 1) 41%,
      rgba(29, 26, 62, 1) 0%
  );
}
.health-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.health-date {
  position: absolute;
  top: 1;
  right: 0;
  margin-right: 18px;
}
.health-relative {
  position: relative;
}
.health-date-pabsolute {
  position: absolute;
  top: 25%;
  right: 10%;
}

// -----
.nav .nav-article {
  width: 50%;

}
.nav-article {
  border: transparent;
}
.nav-article-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link-home {
  padding: 0px;
  margin: 0px;
}
.nav-article .nav-link-home {
  position: relative;
  color: white;
  border:  transparent;
  border-color:  transparent;
  background: transparent;
  padding: 6px 22px;
  transition: transform 0.8s ease, color 0.5s ease, background-color 0.5s ease;
  transform-style: preserve-3d; /* 保持 3D 效果 */
  transform: rotateY(0deg); /* 水平翻轉 */
}
.nav-article .nav-link-home.active {
  transition: color 0.5s ease, border-radius 0.5s ease;
  width: 100%;
  color: $grey-50;
  background-color: transparent;
  border-radius: 0px 40px 0px 0px;
  padding: 6px 22px;
  transform: rotateY(0deg); /* 水平翻轉效果 */
}
.nav-article .nav-link-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* 背景透明 */
  border-radius: 40px 0px 0px 0px; /* 預設圆角 */
  z-index: -1;
  transform: scaleX(0); /* 預設隐藏背景 */
  transform-origin: left;
  transition: transform 0.8s ease, border-radius 0.5s ease, background-color 0.5s ease;
}

/* 翻轉推薦文章樣式 */
.nav-article .nav-link-home.active-home::before {
  transform: scaleX(1); /* 顯示出背景 */
  transform-origin: right;
  background-color: #1d1a3e; /* 背景色 */
  border-radius: 0px 40px 0px 0px;
  transition: transform 0.8s ease; /* 翻轉動畫效果 */
}

/* 翻轉線上醫生樣式 */
.nav-article .nav-link-home.active-profile::before {
  transform: scaleX(1);
  transform-origin: left;
  background-color: #1d1a3e;
  border-radius: 40px 0px 0px 0px;
  transition: transform 0.8s ease; /* 翻轉動畫效果 */
}

// -----
.article-new-seven {
  background: url("/assets/images/article-7.png") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 192px;
  height: 192px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.article-new-eight {
  background: url("/assets/images/article-8.png") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 192px;
  height: 192px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.article-new-nine {
  background: url("/assets/images/article-9.png") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 192px;
  height: 192px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.article-new {
  margin-left: 24px;
  width: auto;
  overflow: visible !important;
  .article-overflow {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    .article-new-text {
      border-radius: 0px 0px 16px 16px;
      background: rgba(29, 26, 62, 0.4);
      backdrop-filter: blur(10px);
      padding: 10px 12px;
    }
    .article-content {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 180px;
    }
    
  }
}