.set-clock {
  margin-top: 64px;
  margin-bottom: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .clock-time {
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 40px;
    line-height: 1.25;
    font-weight: bold;
    color: $white;
  }
  .set-clock-item {
    padding: 10px 24px;
    border-radius: 40px;
    background: $grey-100;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.set-clock-close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .set-clock-btn {
    padding: 12px 27.5px;
    border-radius: 40px;
    background: $primary;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sleep-standby-bg {
  width: 100%;
  background-image: linear-gradient(
    360deg,
    #1D1A3E 5.17%,
    rgba(29, 26, 62, 0.73) 12.88%,
    rgba(29, 26, 62, 0.41) 22.54%,
    rgba(29, 26, 62, 0) 32.2%
  ),
  url('/assets/images/sleep-standby-bg.png');
  background-repeat: no-repeat;
  position: relative;
}
.swiper {
  width: 192px;
  overflow: visible !important;
}
.swiper-silde {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.8) !important;
}
.swiper-slide-active {
  transform: scale(1) !important;; 
}
.alarm-clock {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.alarm-clock-item {
  width: 192px;
  height: 192px;
  background-image: url('/assets/images/sleep-partner-card-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
  position: relative;
  object-fit: cover;
  .alarm-clock-title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    .alarm-clock-text {
      font-size: 16px;
      font-weight: medium;
      line-height: 1.25;
      color: $white;
      text-align: center;
      padding: 7.88px 0px;
      border-radius: 0px 0px 16px 16px;
      background:rgba(29, 26, 62, 0.4);
      backdrop-filter: blur(10px);
    }
  }
  .play-stop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
