<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>其他助眠方式 - 晚安森林</title>
  <link rel="icon" href="/logo_moon.svg">
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="bg-top bg-footer">
      <%- include('./layout/return_navbar',{ lastPage: './index.html' ,title: '其他助眠方式' ,iconType : 'default'
        ,iconLink:'./my-partner.html' }); -%>
        <div class="my-4">
          <%- include('./layout/categories-bar'); -%>
        </div>
        <ul class="d-flex flex-column gap-4">
          <li>
            <div class="container">
              <div class="d-flex justify-content-between align-items-center px-3 mb-3">
                <h2 class="fs-base text-white lh-sm fw-bold mb-3">最近播放</h2>
              </div>
            </div>
            <div class="article-box">
              <div class="article">
                <ul class="d-flex gap-3">
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-1.png" alt="other-mode-1">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">沙漠傳奇</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">23分鐘</p>
                    </li>
                  </a>
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-2.png" alt="other-mode-2">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">冰雪之城</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">30分鐘</p>
                    </li>
                  </a>
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-3.png" alt="other-mode-3">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">花園仙境</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">
                        50分鐘</p>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="d-flex justify-content-between align-items-center px-3 mb-3">
                <h2 class="fs-base text-white lh-sm fw-bold mb-3">最新上架</h2>
              </div>
            </div>
            <div class="article-box">
              <div class="article">
                <ul class="d-flex gap-3">
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-4.png" alt="other-mode-4">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">賽博城市</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">23分鐘</p>
                    </li>
                  </a>
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-5.png" alt="other-mode-5">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">威尼斯之旅</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">23分鐘</p>
                    </li>
                  </a>
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-6.png" alt="other-mode-6">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">精靈之森</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">
                        23分鐘</p>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="d-flex justify-content-between align-items-center px-3 mb-3">
                <h2 class="fs-base text-white lh-sm fw-bold mb-3">熱門精選</h2>
              </div>
            </div>
            <div class="article-box">
              <div class="article">
                <ul class="d-flex gap-3">
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-7.png" alt="other-mode-7">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">童話之聲</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">23分鐘</p>
                    </li>
                  </a>
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-8.png" alt="other-mode-8">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">晝夜西城</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">23分鐘</p>
                    </li>
                  </a>
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-9.png" alt="other-mode-9">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">海洋探險家</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">
                        45分鐘</p>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="d-flex justify-content-between align-items-center px-3 mb-3">
                <h2 class="fs-base text-white lh-sm fw-bold mb-3">你可能喜歡</h2>
              </div>
            </div>
            <div class="article-box">
              <div class="article">
                <ul class="d-flex gap-3">
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-10.png" alt="other-mode-10">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">海底奇遇</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">55分鐘</p>
                    </li>
                  </a>
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-11.png" alt="other-mode-11">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">海洋之謎</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">23分鐘</p>
                    </li>
                  </a>
                  <a href="#">
                    <li>
                      <img class="article-img mb-2" src="/assets/images/other-mode-12.png" alt="other-mode-12">
                      <p class="mb-1 text-white fs-sm lh-sm fw-medium">宇宙時空之旅</p>
                      <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">
                        23分鐘</p>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </li>

        </ul>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>