<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./layout/header'); -%>

  <section class="bg-top bg-health bg-bottom">
    <div class="health-title py-3 mb-1">
      <h2 class="text-white fs-base lh-sm fw-bold">
        睡眠保健室
      </h2>
      <a href="#" class="health-date">
        <span class="health-relative">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="24" viewBox="0 0 24 24" width="24">
            <g fill="#FFFFFF">
              <path
                d="m16.7502 3.56v-1.56c0-.41-.34-.75-.75-.75s-.75.34-.75.75v1.5h-6.49997v-1.5c0-.41-.34-.75-.75-.75s-.75.34-.75.75v1.56c-2.7.25-4.01 1.86-4.21 4.25-.02.29.22.53.5.53h16.91997c.29 0 .53-.25.5-.53-.2-2.39-1.51-4-4.21-4.25z" />
              <path
                d="m20 9.83984h-16c-.55 0-1 .44996-1 .99996v6.16c0 3 1.5 5 5 5h8c3.5 0 5-2 5-5v-6.16c0-.55-.45-.99996-1-.99996zm-10.79 8.36996c-.05.04-.1.09-.15.12-.06.04-.12.07-.18.09-.06.03-.12.05-.18.06-.07.01-.13.02-.2.02-.13 0-.26-.03-.38-.08-.13-.05-.23-.12-.33-.21-.18-.19-.29-.45-.29-.71s.11-.52.29-.71c.1-.09.2-.16.33-.21.18-.08.38-.1.58-.06.06.01.12.03.18.06.06.02.12.05.18.09.05.04.1.08.15.12.18.19.29.45.29.71s-.11.52-.29.71zm0-3.5c-.19.18-.45.29-.71.29s-.52-.11-.71-.29c-.18-.19-.29-.45-.29-.71s.11-.52.29-.71c.28-.28.72-.37 1.09-.21.13.05.24.12.33.21.18.19.29.45.29.71s-.11.52-.29.71zm3.5 "
                stroke="#FFFFFF1A" />
            </g>
          </svg>
          <span class="health-date-pabsolute">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="11" viewBox="0 0 24 24" width="11">
              <g stroke="#292d32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="m22 12c0 5.52-4.48 10-10 10s-10-4.48-10-10 4.48-10 10-10 10 4.48 10 10z" fill="#FFFFFF" />
                <path d="m15.71 15.18-3.1-1.85c-.54-.32-.98-1.09-.98-1.72v-4.09999" />
              </g>
            </svg>
          </span>
        </span>
      </a>
    </div>
    
    <ul class="nav nav-tabs nav-article" id="myTab" role="tablist">
      <li class="nav-item nav-article-item" role="presentation">
        <button class="nav-link nav-link-home active active-home" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">推薦文章</button>
      </li>
      <li class="nav-item nav-article-item" role="presentation">
        <button class="nav-link nav-link-home" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">線上醫生</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <!-- 最新文章 -->
      <div class="container bg-darkBlue-1 pt-3">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="fs-base text-white lh-sm fw-bold py-3">最新文章</h2>
          <a href="#" class="fs-xs fw-medium text-white lh-sm d-flex align-items-center me-1">
            看更多
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" fill="none">
                <path d="M19 12L31 24L19 36" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      
      <div class="article-new mb-4">
        <div class="article-overflow">
          <ul class="d-flex gap-3">
            <li>
              <div class="article-new-seven">
                <div class="article-new-text">
                  <p class="text-white fs-sm fw-bold lh-sm mb-1">呼吸中止症的治療</p>
                  <p class="fs-xxs lh-base fw-normal text-grey-50 article-content">探討常見的失眠原因，如壓力、生活習慣</p>
                </div>
              </div>
            </li>
            <li>
              <div class="article-new-eight">
                <div class="article-new-text">
                  <p class="text-white fs-sm fw-bold lh-sm mb-1">輪班工作睡眠問題</p>
                  <p class="fs-xxs lh-base fw-normal text-grey-50 article-content">輪班工作者常如調整作息時間</p>
                </div>
              </div>
            </li>
            <li>
              <div class="article-new-nine">
                <div class="article-new-text">
                  <p class="text-white fs-sm fw-bold lh-sm mb-1">為什麼會睡不著?</p>
                  <p class="fs-xxs lh-base fw-normal text-grey-50 article-content">心理諮商師從失眠了解你的心理焦慮</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- 收藏文章 -->
      <div class="container bg-darkBlue-1">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="fs-base text-white lh-sm fw-bold py-3">收藏文章</h2>
          <a href="#" class="fs-xs fw-medium text-white lh-sm d-flex align-items-center me-1">
            看更多
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" fill="none">
                <path d="M19 12L31 24L19 36" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>

      <div class="article-box mb-4">
        <div class="article">
          <ul class="d-flex gap-3">
            <a href="#">
              <li>
                <img class="article-img mb-2" src="/assets/images/article-1.png" alt="">
                <p class="mb-1 text-white fs-sm lh-sm fw-medium">失眠的原因與對策</p>
                <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">探討常見的失眠原因，如壓力、生活習慣</p>
              </li>
            </a>
            <a href="#">
              <li>
                <img class="article-img mb-2" src="/assets/images/article-2.png" alt="">
                <p class="mb-1 text-white fs-sm lh-sm fw-medium">睡眠與精神健康</p>
                <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">睡眠是維持身體和心理健康的關鍵。長庚醫院</p>
              </li>
            </a>
            <a href="#">
              <li>
                <img class="article-img mb-2" src="/assets/images/article-3.png" alt="">
                <p class="mb-1 text-white fs-sm lh-sm fw-medium">健康睡眠習慣</p>
                <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">
                  評估智能手機、穿戴裝置和應用程式如何影響睡眠質量，以及如何使用這些科技來改善睡眠。</p>
              </li>
            </a>
          </ul>
        </div>
      </div>

      <!-- 熱門文章 -->
      <div class="container bg-darkBlue-1">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="fs-base text-white lh-sm fw-bold py-3">熱門文章</h2>
          <a href="#" class="fs-xs fw-medium text-white lh-sm d-flex align-items-center me-1">
            看更多
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" fill="none">
                <path d="M19 12L31 24L19 36" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>

      <div class="article-box">
        <div class="article">
          <ul class="d-flex gap-3">
            <a href="#">
              <li>
                <img class="article-img mb-2" src="/assets/images/article-4.png" alt="">
                <p class="mb-1 text-white fs-sm lh-sm fw-medium">睡眠不足的影響</p>
                <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">輪班工作者常如調整作息時間、營養建議和環境調整等。</p>
              </li>
            </a>
            <a href="#">
              <li>
                <img class="article-img mb-2" src="/assets/images/article-5.png" alt="">
                <p class="mb-1 text-white fs-sm lh-sm fw-medium">科技與睡眠</p>
                <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">評估智能手機、穿戴裝置和應用程式如何影響睡眠質量，以及如何使用這些科技來改善睡眠。</p>
              </li>
            </a>
            <a href="#">
              <li>
                <img class="article-img mb-2" src="/assets/images/article-6.png" alt="">
                <p class="mb-1 text-white fs-sm lh-sm fw-medium">自然療法改善睡眠</p>
                <p class="article-content text-grey-50 fs-xxs fw-normal lh-base">
                  溫熱的草藥茶，香薰擴香器散發著薰衣草精油的香氣，進行溫水泡腳</p>
              </li>
            </a>
          </ul>
        </div>
      </div>

        
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="container bg-darkBlue-1 pt-3">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="fs-base text-white lh-sm fw-bold py-3">日期選擇</h2>
            <a href="#" class="fs-xs fw-medium text-white lh-sm d-flex align-items-center me-1">
              <span class="me-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" fill="none"><path d="M31 36L19 24L31 12" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
              </span>
              七月 24
              <span class="ms-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" fill="none">
                  <path d="M19 12L31 24L19 36" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <%- include('./layout/main_navbar.ejs',{ active: 'health' })%>
  <%- include('./layout/footer'); -%>
  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/sleep-healthroom.js"></script>
</body>
</html>